div{
  width: 100%;
}

.colorNav{
  background-color: #AEB6BF;
}

.titulo{
  text-align: center;
  text-decoration: underline;
  color: #9B59B6 ;
  font-family: 'Big Shoulders Stencil Display', cursive;
  font-size: 60px;
}
