.contenedor{
    width: 165px;
    flex-direction: column;
    margin-left: 100px;
}

.botones{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 155px;
    align-items: center;
    margin: 3px;
}

.margenes{
    margin-left:7px;
    margin-right: 7px;
}